body{
    background-color: black;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ui{
    font-family: 'poppins';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    padding: 0 20px;
    color: white;
}
.current-player-text{
    font-family: 'poppins';
}
.welcome-message> h1{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 38px;
}
.welcome-message > p{
    font-size: 22px;
}
.cell{
    cursor: pointer;
    transition: background-color .4s ease-in-out;
    font-size: 56px;
    font-family: 'poppins';
}
td{
    border: 1px solid red;
    height: 150px;
    width: 150px;
}
.game-table{
    margin-top: 40px;
}
.current-player-text{
    font-size: 38px;
    text-transform: uppercase;
}
.options{
    margin-top: 40px;
    font-family: 'poppins';
}

.one-player-btn{
    font-family: 'poppins';
    letter-spacing: 1px;
    padding: 10px 50px;
    margin-right: 10px;
    background-color: transparent;
    box-shadow: 0 0 0px #03c9d3, 0 0 2px #03c9d3, 0 0 14px #03c9d3, 0 0 0px #03c9d3;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
}
.two-player-btn{
    font-family: 'poppins';
    letter-spacing: 1px;
    padding: 10px 50px;
    margin-left: 10px;
    color: white;
    font-weight: bold;
    background-color: transparent;
    box-shadow: 0 0 0px #e92020, 0 0 2px #e92020, 0 0 14px #e92020, 0 0 0px #e92020;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
}

.one-player-btn:hover{
    box-shadow: 0 0 5px #03c9d3, 0 0 6px #03c9d3, 0 0 30px #03c9d3, 0 0 0px #03c9d3;
}
.two-player-btn:hover{
    box-shadow: 0 0 5px #e92020, 0 0 6px #e92020, 0 0 30px #e92020, 0 0 0px #e92020;
}